.form {
  display: flex;
  flex-direction: column;

  width: 70%;
}

.form__box {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-top: 16px;
}

.form__box > label {
  font-size: 1.4rem;
}

.form__box > input {
  margin-top: 8px;
  padding: 12px;

  font-size: 1.2rem;
}

.form__button {
  margin-top: 32px;
  padding: 12px;

  font: 1.4rem bold;
  color: #f0d9d9;
  background-color: rgb(134, 99, 99);
  border: none;

  cursor: pointer;
}
