/* FIXME: 이미지 크기 조정 */

.post__control {
  display: flex;

  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.post__control > button {
  background-color: rgb(134, 99, 99);

  margin: 0 4px;

  border: none;
  border-radius: 4px;

  padding: 0.3rem;

  font: 1.3rem bold;
  color: #f0d9d9;

  cursor: pointer;
}

.post__control > button > a {
  color: inherit;
}
