.carousel {
  display: flex;
  width: 80%;
  height: 480px;

  margin-left: auto;
  margin-right: auto;

  background-color: #fffff8;
}

.carousel_button {
  width: 100%;
  border: none;
  background-color: #fffff8;
  cursor: pointer;
}
.carousel-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-item__image > img {
  max-height: 480px;
  object-fit: fill;
}
