.carousel {
  width: clamp(0px, 100%, 740px);
  overflow: hidden;
  position: relative;
}

.carousel__container {
  display: flex;

  transition: margin ease 0.5s;
}

.carousel__item {
  display: flex;
  background-color: black;
}

.carousel__img {
  box-sizing: border-box;
  width: 100%;

  object-fit: contain;
}

.carousel__btn {
  position: absolute;
  top: 0;

  opacity: 0.5;
  width: 10%;
  height: 100%;

  cursor: pointer;

  filter: drop-shadow(1px 0px 4px rgb(255, 255, 255));
}

.carousel__btn-right {
  right: 0;
}

.carousel__btn--disabled {
  display: none;
}
