.drawer {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1;
  height: 100vh;
  width: 100%;
  transition: transform 0.25s ease;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drawer--reveal {
  transform: translateX(-100%);
}

.drawer__close {
  font-size: var(--font-size-m);
  margin: var(--margin-m) var(--margin-s);
}

.drawer__items {
  width: 100%;
  margin-top: var(--margin-xl);
}

.drawer__item {
  font-size: var(--font-size-s);
  padding: var(--padding-xs);
  margin-top: var(--margin-s);
  width: 100%;

  border-bottom: solid 1px var(--light-blue);
}
