.drawer {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1;
  height: 100vh;
  width: 280px;
  transition: transform 0.25s ease;
  background-color: white;
}

.drawer--reveal {
  transform: translateX(-280px);
}

.drawer__items {
  display: flex;
  flex-direction: column;

  margin-top: var(--margin-s);
}

.drawer__item {
  font-size: var(--font-size-s);
  padding: var(--padding-xs);
}
