.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea,
.input {
  font-size: var(--font-size-s);
  padding: var(--padding-s);
  margin: var(--margin-s) 0;

  border: 1px solid var(--light-blue);
  border-radius: var(--border-radius-s);
}

.textarea {
  height: calc(var(--font-size-xl) * 2);
}
