.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;

  margin: 16px 24px;

  /* line-height: 52px; */
}

.nav__items {
  font-size: 2.5rem;
  padding: 0 16px;
}

.nav__items-small {
  font-size: 1.3rem;
  padding: 0 16px;
}
