.post {
  display: flex;
  flex-direction: row;

  width: clamp(0px, 100%, 1100px);
  padding: var(--padding-s) 0;
}

.post__carousel {
  width: clamp(0px, 100%, 740px);
  margin: 0 auto;
}

.post > figure {
  height: 100%;
  background-color: black;
  border-radius: var(--border-radius-s);
}

.post__img {
  width: 100%;
  border-radius: var(--border-radius-s);
}

.post__description {
  width: 330px;
  padding: var(--padding-s);

  height: 75vh;
  overflow: scroll;
}

.post__description::-webkit-scrollbar {
  display: none;
}

.post__title {
  font-size: var(--font-size-l);
}

.post__address {
  margin-bottom: var(--margin-xs);
  font-size: var(--font-size-s);
}

.post__date {
  margin-bottom: var(--margin-xs);
  text-align: right;

  font-size: var(--font-size-xs);
  color: var(--light-black);
}

.post__action {
  display: flex;
  justify-content: space-around;

  align-items: baseline;

  width: 100%;
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-s);
}

.post__link,
.post__chat {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .post {
    flex-direction: column;
  }

  .post > figure,
  .post__description {
    box-sizing: border-box;
    width: 100%;
  }

  .post__description {
    height: auto;
  }
}
