.post__image {
  width: 100%;
  height: 240px;
  background-color: aqua;
}
.post__card {
  margin: 16px;
  padding: 4px;
  width: 240px;
  height: 300px;

  border: 1px solid black;
  border-radius: 4px;
}

.post__title {
  font-size: 1.5em;
  margin: 4px 0;

  cursor: pointer;
}

.post__image > img {
  max-height: 100%;
}

.post__created {
  color: #0000205a;
}

@media screen and (min-width: 1380px) {
  .post__card {
    width: 360px;
    height: 420px;
  }

  .post__image {
    height: 350px;
  }
}
