.post {
  display: flex;
  flex-direction: row;

  width: clamp(0px, 100%, 1100px);
  padding: var(--padding-s) 0;
}

.post > figure {
  height: 100%;
  background-color: black;
  border-radius: var(--border-radius-s);
}

.post__img {
  width: 100%;
  border-radius: var(--border-radius-s);
}

.post__description {
  width: 330px;
  padding: var(--padding-s);
}

.post__title {
  font-size: var(--font-size-l);
}

.post__address,
.post__date {
  font-size: var(--font-size-s);
  margin-bottom: var(--margin-xs);
}

.post__date {
  text-align: right;
}

.post__control {
  display: flex;
  justify-content: flex-end;
}

.post__action {
  text-align: center;

  width: 100%;
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-s);
}

.post__heart {
  cursor: pointer;
}

.post__heart:hover {
  color: var(--light-blue);
}

.post__heart--fill {
  color: var(--green);
}

.post__contents {
  font-size: var(--font-size-s);
  margin-bottom: var(--margin-s);

  white-space: pre-line;
}

@media screen and (max-width: 900px) {
  .post {
    flex-direction: column;
  }

  .post > figure,
  .post__description {
    box-sizing: border-box;
    width: 100%;
  }
}
