.card {
  width: 30%;
  height: 40%;

  margin: 0 12px;
  margin-top: 12px;
}

.card__img {
  height: 100%;
}

.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.card__title {
  font-size: 1.8rem;
}

.card__date {
  font-size: 1.2rem;
  color: #a177af;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}
