.scroll-to-top {
  position: fixed;

  bottom: max(env(safe-area-inset-bottom), 16px);
  left: max(env(safe-area-inset-left), 16px);

  font-size: var(--font-size-l);
  color: var(--light-blue);

  bottom: 1%;
  left: 1%;

  cursor: pointer;
  background: none;
}

.scroll-to-top > svg {
  display: block;
}

.scroll-to-top--cover {
  visibility: hidden;
}

.scroll-to-top--reveal {
  visibility: visible;
}
